###########################
#WebStorm Files
###########################
.idea/

###########################
#NPM Files
###########################
node_modules/

###########################
#Angular2 Files
###########################
typings/
app/*.js
app/*.js.map